@font-face {
    font-family: 'Archia';
    src: url('https://assets.website-files.com/617fa48948c7ab24b715140e/618180b1eaae50368d604259_archia-regular-webfont.eot') format('embedded-opentype'), url('https://assets.website-files.com/617fa48948c7ab24b715140e/618180b153e66d54d5614758_archia-regular-webfont.woff') format('woff'), url('https://assets.website-files.com/617fa48948c7ab24b715140e/618180b1313b7511d417c809_archia-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
